.products{
   display:flex;
    gap:30px;
    padding:40px;
    flex-wrap: wrap;
    justify-content: center;
    
}
*{
    background:#111111;
    overflow-x: hidden;
     color: rgba(240, 248, 255, 0.763);
}