@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");
*{
  margin:0px;
  padding:0px;
  font-family:'Orbitron',sans-serif;
}
html,body{
  background:radial-gradient(circle,#095013,black);
  color:white;
  overflow-x: hidden;
  margin:0;
  padding:0;
  overflow-y: auto;
}
.Light{
   background:radial-gradient(circle,#178c26,black);
  color: white;
}
.Dark{
   background:radial-gradient(circle,#7ab381,rgb(255, 255, 255));
  color:rgb(26, 158, 59);
}
html{
  scroll-behavior: smooth;
}
@media(max-width:768px) {
  section{
    padding: 40px;
    text-align:center;
  }
  h1{
    font-size: 2rem;
  }
  h2{
    font-size:1.6rem;
  }
  .card,.project-card{
    width:100%;
    max-width:320px;
  }
}
