.Contact{
    padding:20px;
    text-align: center;
}
.Contact h2{
    font-size: 1.8rem;
    color:rgb(20, 165, 20);
}
.Contact p{
    margin:10px 0px 20px;
    opacity:0.8;
}
.Contact-info{
    padding:15px;
    border-radius: 12px;
    margin:30px auto;
    max-width:500px;
    box-shadow:0 0 18px rgb(20, 165, 20,0.8);
    background:rgba(27, 25, 25,0.5);
    transition: 0.3s;
}
.Contact p{
    font-size:1.1rem;
    margin:10px 0;
}
.Contact a{
    text-decoration: none;
    color: white;
}
.Contact a:hover{
    text-shadow:0 0 25px rgb(20, 165, 20,0.5);
    color:rgba(10, 184, 13, 0.644);
}
.Contact-info:hover{
  transform: scale(1.1);
  box-shadow:0 0 25px rgb(25, 191, 25);
}
.Contact-form{
    padding:20px;
    max-width:500px;
    display: flex;
    flex-direction: column;
    margin:auto;
    gap:20px;
}
.Contact-form input,
.Contact-form textarea{
    padding:10px;
    border-radius:12px;
    border: none;
    outline:none;
    background-color:rgba(27, 25, 25,0.5);
    color: #ffffff;
    transition:0.3s;
}
.Contact-form input:focus,
.Contact-form textarea:focus{
 box-shadow:0 0 25px rgb(25, 191, 25,0.8);
}
.Contact-form input::placeholder,
.Contact-form textarea::placeholder{
    color: #ffffff;
    opacity:0.5;
}
.Contact-form button{
    padding:20px;
    background:rgb(25, 191, 25,0.8);
    color: #ffffff;
    border-radius:12px;
    border: none;
    outline: none;
    font-weight: 200;
    transition:0.3s;
}
.Contact-form button:hover{
    box-shadow:0 0 25px rgb(25, 191, 25,0.8);
    transform: translate(1px,-1px);
}
.Contact-form button:active{
    transform:scale(0.9);
}
@media(max-width:768px){
    .Contact-form{
        width:100%;
    }
    .Contact-form input,.Contact-form textarea{
        width: 100%;
    }
}