.Skills{
    padding:20px;
    text-align: center;
}
.Skills h2{
    font-size:32px;
    color: rgb(20, 165, 20);
    margin: 10px;
}
.Skill-box{
    display:flex;
    justify-content: center;
    gap:20px;
    flex-wrap: wrap;
}
.Skill-card{
    width:180px;
    margin-top:20px;
    padding: 30px 20px;
    background-color:rgba(27, 25, 25, 0.779);
    color: white;
    cursor: pointer;
    border-radius:15px;
    transition: 0.3s;
    box-shadow:0 0 25px rgb(20, 145, 20);
}
.Skill-card:hover{
    transform: scale(1.1);
    box-shadow:0 0 25px rgb(44, 228, 44);
}