nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#000;
    color:white;
    padding:3px 22px;
    position:sticky;
    top:0;
    border-radius:30px;
}

.links{
    display:flex;
    gap:20px;
}

.links a{
    color:rgba(240,248,255,.7);
    text-decoration:none;
}

.actions button{
    margin-left:10px;
    padding:6px 12px;
    border:none;
    background:white;
    color:black;
    border-radius:4px;
    font-weight:bold;
}


.hamburger{
    display:none;
    flex-direction:column;
    gap:5px;
    cursor:pointer;
}

.hamburger span{
    width:25px;
    height:2px;
    background:white;
}


@media(max-width:768px){

    nav{
        padding:15px 20px;
        border-radius:20px;
        position:static;
    }

   
    .hamburger{
        display:flex;
    }

   
    .links{
        position:absolute;
        top:70px;
        left:0;
        width:100%;
        background:black;
        flex-direction:column;
        align-items:center;
        padding:20px 0;
        transform:translateY(-150%);
        transition:.35s;
    }

    .links.show{
        transform:translateY(0);
    }

    
    .actions{
        display:none;
    }
}
