nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#000;
    color:white;
    padding:14px 22px;
    position:sticky;
    top:0;
    border-radius:30px;
    overflow-x: hidden;
}
.logo{
    color:rgba(255, 255, 255, 0.788);
    text-decoration:none;
    font-size:22px;
    font-weight:bold;
}

.links{
    display:flex;
    gap:20px;
}
.links a:hover{
    opacity:0.5;
    transform: translate(1px,-1px);
}

.links a{
    color:rgba(240,248,255,.7);
    text-decoration:none;
    transition: 0.3s;
}
.links a:active{
    transform: scale(1.2);
}

.actions button{
    margin-left:10px;
    padding:6px 12px;
    border:none;
    background:white;
    color:rgb(36, 34, 34);
    border-radius:4px;
    font-weight:bold;
    transition: 0.3s;
}
.actions button:hover{
    transform: translate(1px,-1px);
}
.actions button:active{
    transform: scale(0.6);
}


.hamburger{
    display:none;
    flex-direction:column;
    gap:5px;
    cursor:pointer;
}

.hamburger span{
    width:25px;
    height:2px;
    background:white;
}


@media (max-width:768px){

    nav{
        padding:8px 16px;
        border-radius:20px;
        position:relative;   
        overflow:visible;
    }

   
    .hamburger{
        display:flex;
        z-index:1001;
    }

    
    .links{
        position:absolute;
        top:60px;
        left:0;
        width:100%;          
        background:black;
        flex-direction:column;
        align-items:center;
        padding:20px 0;
        gap:18px;

    
        transform:translateY(-120%);
        opacity:0;
        pointer-events:none;
        transition:0.3s ease;
    }

   
    .links.show{
        transform:translateY(0);
        opacity:1;
        pointer-events:auto;
    }

    
    .actions{
        display:none;
    }
}
.mobile-cart-btn{
    display:none;
}


@media(max-width:768px){

    .mobile-cart-btn{
        position:fixed;
        bottom:18px;
        right:18px;
        background:black;
        color:white;
        width:55px;
        height:55px;
        border-radius:50%;
        display:flex;
        justify-content:center;
        align-items:center;
        font-size:22px;
        text-decoration:none;
        z-index:2000;
        box-shadow:0 6px 18px rgba(0,0,0,.35);
    }

    .cart-count{
        position:absolute;
        top:-5px;
        right:-5px;
        background:rgb(0, 0, 0);
        color:white;
        font-size:12px;
        width:20px;
        height:20px;
        border-radius:50%;
        display:flex;
        justify-content:center;
        align-items:center;
        font-weight:bold;
    }
}
