nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    color: white;
    padding: 15px 40px;
    position:sticky;
    top: 0;
}
nav h2{
    margin: 0;
}
nav div a{
    margin: 0 15px;
    color: rgba(240, 248, 255, 0.692);
    text-decoration: none;
    font-weight: 400;
}
nav button{
    margin-left: 10px;
    padding: 6px 12px;
    border: none;
    background: white;
    cursor: pointer;
    color: #000000;
    border-radius: 4px;
}