.card{
    text-decoration:none;
    color: inherit;
    width:220px;
    background: #181818;
    color: white;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    flex:0 0 auto;
}
.cards{
    text-decoration: none;
}
.card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}

.card img{
    width:100%;
    border-radius: 6px;
}
.card button{
    margin-top: 8px;
    border: none;
    background: white;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    transition:0.3s;
}
.card button:hover{
    box-shadow:0 0 25px #181818;
    transform: translate(1px,-1px);
}
.card button:active{
    transform: scale(0.5);
}