.products{
   display:flex;
    gap:30px;
    padding:40px;
    flex-wrap: wrap;
    justify-content: center;
    
}
*{
    background:#111111;
    overflow-x: hidden;
    color: rgba(240, 248, 255, 0.763);
}
.slider{
    overflow: hidden;
    width:100%;
    padding: 80px 0;
    position: relative;
}
.track{
    display: flex;
    gap:28px;
    width:max-content;
    animation: scroll 120s linear infinite;
}
.slider:hover .track{
    animation-play-state: paused;
}
@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX( calc(-100%));
    }
}

